*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body{
    display: grid;
    grid-template-columns: 1fr 9fr;
    font-family: Inter;
}

/* sidebar */

.sidebar-container{
    max-width: 264px;
    background-color: #171B2D;
    border-right: 2px solid #262835;
}

.sidebar-container .logo{
    padding: 50px 55px 48px 65px;
}

.sidebar-container .sidebar-items .menu-title{
    text-transform: uppercase;
    color: #55597D;
    font-size: 10px;
    padding: 0 0 16px 28px;
}

.sidebar-container .sidebar-items .menu-items .menu-item{
    display: flex;
    place-items: center;
    column-gap: 12px;
    font-size: 14px;
    padding: 0 0 24px 0;
}

.menu-item-icon{
    padding-left: 28px;
}

.sidebar-container .sidebar-items .menu-items .menu-item .active{
    border-left: 2px solid #42BBFF;
}

.sidebar-container .sidebar-items .menu-items .active a{
    color: #42BBFF !important;
}

.sidebar-container .sidebar-items .menu-items .menu-item a{
    color: #ADB3CC;
}