*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body{
    display: grid;
    grid-template-columns: 1fr 9fr;
    font-family: Inter;
    background-color: #171B2D;
}

/* sidebar */

.sidebar-container{
    max-width: 264px;
    background-color: #171B2D;
    border-right: 2px solid #262835;
}

.sidebar-container .logo{
    padding: 50px 55px 48px 65px;
}

.sidebar-container .sidebar-items .menu-title{
    text-transform: uppercase;
    color: #55597D;
    font-size: 10px;
    padding: 0 0 16px 28px;
}

.sidebar-container .sidebar-items .menu-items .menu-item, .menu-item-left{
    display: flex;
    place-items: center;
    column-gap: 12px;
    font-size: 14px;
    padding: 0 0 24px 0;
}

.work-menu{
    border-bottom: 2px dashed #55597D;
    border-top: 2px dashed #55597D;

}

.work-menu, .option-menu{
    padding-top: 36px;
}

.menu-item-icon{
    padding-left: 28px;
}

.sidebar-container .sidebar-items .menu-items .menu-item .active{
    border-left: 2px solid #42BBFF;
}

.sidebar-container .sidebar-items .menu-items .active a{
    color: #42BBFF !important;
}

.sidebar-container .sidebar-items .menu-items .menu-item a{
    color: #ADB3CC;
}

.menu-item-badge{
    place-items: center;
    display: flex;
    column-gap: 40px;

}

.menu-item-right{
    padding: 2px 6px;
    color: #42BBFF;
    background: #0C3247;
    border-radius: 26px;
}

.menu-item-left{
    padding: 0;
}

.badge{
    background-color: #BF3931;
    color: #ffffff;
}