*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
}

body{
    display: grid;
    grid-template-columns: 1fr 9fr;
    font-family: Inter;
    background-color: #171B2D;
}

.content-wrapper{
    overflow-y: auto;
    height: 100vh;
}

/* sidebar */

.sidebar-toggler{
    display: none;
}

.sidebar-container{
    background-color: #171B2D;
    border-right: 0.125rem solid #262835;
}

.sidebar-container .logo{
    padding: 3.125rem 3.45rem 3rem 4.1rem;
}

.sidebar-container .sidebar-items .menu-title{
    text-transform: uppercase;
    color: #55597D;
    font-size: 0.625rem;
    padding: 0 0 1rem 1.75rem;
}

.sidebar-container .sidebar-items .menu-items .menu-item, .menu-item-left{
    display: flex;
    place-items: center;
    column-gap: 0.75rem;
    font-size: 0.8rem;
    padding: 0 0 1.5rem 0;
}

.work-menu{
    border-bottom: 0.125rem dashed #55597D;
    border-top: 0.125rem dashed #55597D;

}

.work-menu, .option-menu{
    padding-top: 2.25rem;
}

.menu-item-icon{
    padding-left: 1.75rem;
}

.sidebar-container .sidebar-items .menu-items .menu-item .active{
    border-left: 0.25rem solid #42BBFF;
}

.sidebar-container .sidebar-items .menu-items .active a{
    color: #42BBFF !important;
}

.sidebar-container .sidebar-items .menu-items .menu-item a{
    color: #ADB3CC;
}

.menu-item-badge{
    place-items: center;
    display: flex;
    column-gap: 2.5rem;

}

.menu-item-right{
    padding: 0.125rem 0.375rem;
    color: #42BBFF;
    background: #0C3247;
    border-radius: 1.625rem;
}

.menu-item-left{
    padding: 0;
}

.badge{
    background-color: #BF3931;
    color: #ffffff;
}

/* Navbar starts */

.navbar{
    position: absolute;
    padding: 1.25rem 1.75rem;
    max-width: 100vw;
    /* max-height: 2.69rem; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
    background-color: #171B2D;
}

.search-input{
    display: flex;
}

.search-icon{
    position: relative;
    right: 1.875rem;
    cursor: pointer;
}

.search{
    padding: 0.69rem 0.75rem 0.69rem 0.75rem;
    width: 23.31rem;
    height: 2.45rem;
    border: none;
    border-radius: .5rem;
    background-color: #1D2032;
    color: #5d6384;

}

.search::placeholder{
    color: #424A70;
}

.search:focus{
    outline: none;
}

.nav-links{
    display: flex;
    column-gap: 3rem;
    font-size: 0.875rem;
}

.nav-links a{
    color: #55597D;
}

.nav-links .active {
    color: #ADB3CC;
}

.navbar .user{
    display: flex;
    column-gap: 1rem;
}

.navbar .user .user-info h2{
    text-transform: uppercase;
    padding-bottom: 0.25rem;
    font-size: 0.625rem;
    color: #55597D;
}

.navbar .user .user-info p{
    font-size: 0.625rem;
    color: #ADB3CC;
    display: flex;
}


/* title starts */
.title{
    padding: 5.5rem 2rem 1.75rem;

}

.title h1{
    color: #ADB3CC;
    font-size: 2rem;
}

/* site performance starts */
.site-performance{
    padding: 0.625rem 1.75rem;
}

.site-performance h2{
    font-size: 1.2rem;
    color: #ADB3CC;
}

h2{
    font-size: 1.2rem;
    color: #ADB3CC;
}

.date{
    color: #585F80;
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding-bottom: 1.75rem;
}

.date > p{
    font-size: 0.875rem;
    padding-top: 0.5rem;
}

.date span{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    padding-right: 14rem;
}

.date span p{
    font-size: 0.82rem;
}

.site-performance-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.2rem;
}

.site-performance-cards .card{
    border-radius: 1.2rem;
    background-color: #1A1E30;
}

.site-performance .active{
    background-color: #0329E8;
}

.view-all{
    padding-left: 0.75rem;
    display: flex;
    place-items: center;
    color: #17B1EA;
}

.active .card-body{
    color: #DDEFFA !important;
}

.card .card-header{
    padding: 1.5rem 1.5rem 1.025rem 1.5rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: #DDEFFA;
}

.card .card-body{
    padding-left: 1.5rem;
    color: #17B1EA;
    font-size: 58;
    font-weight: 700;
}

.card .card-footer{
    padding: 1.75rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    color: #DDEFFA;
}

.green{
    color: #00DE73 !important;
}
.red{
    color: #F21010 !important;
}

.red img{
    color: red;
}

.bg{
    background: url("../assets/chart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.user-statistics{
    padding-top: 4.065rem;
}

.table-header{
    padding: 3.75rem 0 0 1.5rem;
}

.styled-table, .date{
    padding-left: 1.5rem;
}

/* table */
.table{
    width: 90%;
    overflow-x: auto; 
}

.styled-table {
    color: #ADB3CC;
    border-collapse: collapse;
    margin: 1.56rem 1.75rem;
    font-size: 0.9em;
    /* min-width: 400px; */
    width: 100%;
    overflow-x: auto; 
}

.styled-table thead tr {
    color: #55597D;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 0.75rem 0.94rem;
}

.styled-table tbody tr, thead {
    border-bottom: 1px solid #55597D;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ADB3CC;
}


@media (max-width: 500px) {
    .title{
        display: flex;
        justify-content: space-between;
        padding-right: 3rem;
        /* column-gap: 20vw; */
        align-items: center;
        place-items: center;
        /* flex-wrap: wrap-reverse; */
        
    }

    .sidebar-container{
        overflow-y: auto;
        display: none;
        position: fixed;
        height: 100vh;
    }

    .navbar{
        display: none;
    }

    .date{
        display: none;
    }

    .site-performance-cards{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        place-items: center;
        max-width: 100vw;
        overflow: hidden;
    }

    .site-performance h2{
        text-align: center;
        padding: 0 0 0.94rem 0;
    }

    .site-performance{
        padding: 0.625rem 0;
    }

    .table{
        max-width: 100vw;
    }

    .sidebar-toggler{
        display: block;
    }

    .site-performance-cards{
        padding: 1.8rem;
    }

    .card-header p{
        font-size: 1rem;
    }
    .site-performance-cards .card-body h1{
        font-size: 1.5rem;
    }

    .card-footer p{
        font-size: .85rem;
    }

    .card{
        height: 11.5rem;
        margin-bottom: 1.8rem;
    }

    .table-header{
        padding: 0 ;
        text-align: center;
    }
}